<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/_navbar') %> <br/>

    <div><a href="/product" class="btn btn-primary">Back</a></div> <br/>
    <div style="overflow:auto">
      <img style= "float: left; padding-right: 20px; height: 200px;"src=<%= product.carImage %>>
      <div>Car : <%= product.name %> </div>
      <div>Fuel Type : <%= product.fuelType %></div>
      <div>Transmission Type : <%= product.transmissionType %></div>
      <div>Price : <%= product.justPrice %></div> <br>
      <div style="white-space: pre-line;  margin-top: 10px;"><%= product.description %></div> <br>
      <div><a href="/product/edit/<%= product.id %>" class="btn btn-primary">EDIT</a></div>
    </div>

</body>
</html>